@model IEnumerable<Comment_System.Models.ViewModels.CommentViewModel>;

@{
    ViewData["Title"] = "Comments";
}


<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
          
            <div class="coment-bottom bg-white p-2 px-4">

                @{var modelForPartialView = new Comment_System.Models.ViewModels.CommentViewModel();}
                <partial name="_CommentBoxPartial.cshtml" model="@modelForPartialView" />
                <!-- Post Comment
    <form asp-controller="Comment" asp-action="AddComment" method="POST">
        <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
        <input type="text" name="body" class="form-control mr-3" placeholder="Add comment">
        <input type="hidden" name="">

        <input type="submit" class="btn btn-primary" value="Comment"></input></div>
    </form>-->
                <!-- Comments-->
                @foreach (var comment in Model)
                {
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2">@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">@comment.CommentContent.CommentTimeStamp</span>
                        </div>
                        <div class="comment-text-sm"><span>@comment.CommentContent.Body</span></div>
                        <div class="reply-section">
                            <div class="d-flex flex-row align-items-center voting-icons">
                                <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">15</span><span class="dot ml-2"></span>
                                <h6 class="ml-2 mt-1">Reply</h6>
                            </div>
                        </div>
                        <div class="row" id="hello">
                            <div class="col-3"><a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.CommentContent.CommentContentId"><h6>Edit</h6></a></div>
                            <div class="col-3"><button style="width: 100px"class="edit-history-btn bg-white border-0 pl-1 pr-1" value="@comment.Comment.CommentID"><h6>Edit History</h6></button></div>
                        </div>
                       
                    </div>

                }


            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    
    <script type="text/javascript" src="~/js/Comments.js"></script>
}